<!DOCTYPE html>
<html>

<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>

<body>

    <h2>Scrumy Table</h2>

        <table>
        <tr> 
            <th>User</th>
            <th>Weekly Goals</th>
            <th>Daily Goals</th>
            <th>Verify Goals</th>
            <th>Done Goals</th>
        </tr>
        <tr>
            <td>{{ user }}</td>
            <td>{{ goal_id }}. {{ goal_name }}</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>


</body>

</html>